
.wraper{
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.btn{
  border: none;
  background: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

